.icon-arrow {
    background: url('../image/icon-arrow.svg');
    background-repeat: no-repeat;
    background-size: cover; /* stretch the background to cover the whole element */
    display: inline-block;
    height: 35px;
    width: 35px;
}

.btn {
    background-color: $primary-purple;
    width: 2.3rem;
    height: 2.3rem;
    border: none;
    border-radius: 2rem;
    position: absolute;
    top: -35px;
    right: 0;
}